.certificate {
  margin: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.25s;
  width: 350px;
  height: 248px;
}

.certificate:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-anchor:hover {
  text-decoration: none;
}

.card {
  margin: 0 -6px;
  padding: 6px;
}

.card:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.25s;
}

.media {
  height: 60px;
}
.verticalLine {
    border-left :1px solid #d7e0e2;
    
}

.topic-headers {
  margin-top: 20px;
}

#icon-images {
  color: #333;
}

