{% extends "index.html" %}
{% block content %}

	<div class="row">
		<div class="col-md-3 topic-headers" align="center">
			Languages
			<br>
			<br>
			<img id="icon-images" src="../static/img/development (3).png" alt="python, javascript, html,css, sql">
		</div>

		<div id="resumeProficiencies" class="col-md-4 verticalLine">


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Python
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="python progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom-->

			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				HTML
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="html progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->

			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				CSS
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="css progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->

			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				JavaScript
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="javascript progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->

			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				jQuery
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="jquery progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->


			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				Flask
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="flask progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->


			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				Django
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="django progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->
		</div><!--END of First Row for Skills-->

		<div  id="resumeProficienciesColTwo" class="col-md-4">

				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					PostgreSQL
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="postgreSQL progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom Postgres-->

				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					JSON
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="json progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom JSON-->



				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					SQL
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="sql progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom SQL-->


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Linux / Unix Commands
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="unix progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom LINUX-->


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					API
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="api progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom API-->


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Web Server Configuration (APACHE HTTP)
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="apache progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom APACHE-->


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					TCP/IP config
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="tcp progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom TCP/IP-->

			
		</div><!--END 2nd skills column-->

	</div><!--END of ROW FOR Programming skills-->
	<hr>

	<div class="row">
		<div class="col-md-3 topic-headers" align="center">
			Tools
			<br>
			<br>
			<div style="font-size: 44px;">
				<i class="fa fa-cog fa-spin fa-5x"></i>
			</div>
		</div>

		<div class="col-md-4 verticalLine">	
		</div><!--END of First Row for Skills-->



	</div><!--END of ROW FOR Programming skills-->
	<hr>

	


{% endblock %}
