{% extends "index.html" %}
{% block content %}
<div id="resumeProficiencies">


	<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
		Python
	</div><!--END resumeProficienciesTop1-->


	<div id="resumeProficienciesBottom">
		
		<div class="progress">
			
			<div class="python progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

		</div>
	</div><!--END resumeProficienciesBottom-->

	<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
		HTML
	</div><!--END resumeProficienciesTop1-->


	<div id="resumeProficienciesBottom">
		
		<div class="progress">
			
			<div class="html progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

		</div>
	</div><!--END resumeProficienciesBottom-->

	<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
		CSS
	</div><!--END resumeProficienciesTop1-->


	<div id="resumeProficienciesBottom">
		
		<div class="progress">
			
			<div class="css progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

		</div>
	</div><!--END resumeProficienciesBottom-->

	<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
		JavaScript
	</div><!--END resumeProficienciesTop1-->


	<div id="resumeProficienciesBottom">
		
		<div class="progress">
			
			<div class="javascript progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

		</div>
	</div><!--END resumeProficienciesBottom-->

	<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
		jQuery
	</div><!--END resumeProficienciesTop1-->


	<div id="resumeProficienciesBottom">
		
		<div class="progress">
			
			<div class="jquery progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

		</div>
	</div><!--END resumeProficienciesBottom-->


	<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
		Flask
	</div><!--END resumeProficienciesTop1-->


	<div id="resumeProficienciesBottom">
		
		<div class="progress">
			
			<div class="flask progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

		</div>
	</div><!--END resumeProficienciesBottom-->


	<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
		Django
	</div><!--END resumeProficienciesTop1-->


	<div id="resumeProficienciesBottom">
		
		<div class="progress">
			
			<div class="django progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

		</div>
	</div><!--END resumeProficienciesBottom-->


</div>
{% endblock %}
