{% extends "index.html" %}
{% block content %}

	<div class="row">
		<div class="col-md-3 topic-headers" align="center">
			Languages
			<br>
			<br>
			<img id="icon-images" src="../static/img/development (3).png" alt="python, javascript, html,css, sql">
		</div>

		<div id="resumeProficiencies" class="col-md-4 verticalLine">


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Python
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="python progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom-->

			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				HTML
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="html progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->

			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				CSS
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="css progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->

			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				JavaScript
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="javascript progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->

			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				jQuery
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="jquery progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->


			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				Flask
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="flask progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->


			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				Django
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="django progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom-->
		</div><!--END of First Row for Skills-->

		<div  id="resumeProficienciesColTwo" class="col-md-4">

				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					PostgreSQL
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="postgreSQL progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom Postgres-->

				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					JSON
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="json progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom JSON-->



				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					SQL
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="sql progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom SQL-->


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Linux / Unix Commands
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="unix progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom LINUX-->


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Web APIs
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="api progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom API-->


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Web Server Configuration (APACHE HTTP)
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="apache progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom APACHE-->


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Git Bash
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="git progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom TCP/IP-->
		</div><!--END 2nd skills column-->
	</div><!--END of ROW FOR Programming skills-->
	<hr>

	<div class="row">
		<div class="col-md-3 topic-headers" align="center">
			DevOps Tools 
			<br>
			<div style="font-size: 44px;">
				<i class="fa fa-cog fa-spin fa-5x"></i>
			</div>
		</div>

		<div id="resumeProficiencies" class="col-md-4 verticalLine">


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Vagrant
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="vagrant progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom Vagrant-->

			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				Oracle VM Virtual Box
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="oracle progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom Oracle-->

			<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
				Packer
			</div><!--END resumeProficienciesTop1-->


			<div id="resumeProficienciesBottom">
				
				<div class="progress">
					
					<div class="packer progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

				</div>
			</div><!--END resumeProficienciesBottom Packer-->
		</div><!--END of First Row for Devops-->

		<div  id="resumeProficienciesColTwo" class="col-md-4">

				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Docker
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="docker progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom Docker-->

				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Jenkins
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="jenkins progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom-->


				<div id="resumeProficienciesTop" class="resumeProficienciesTop1">
					Chef
				</div><!--END resumeProficienciesTop1-->


				<div id="resumeProficienciesBottom">
					
					<div class="progress">
						
						<div class="chef progress-bar progress-bar-info" role="progressbar" style="width: 0%"></div>

					</div>
				</div><!--END resumeProficienciesBottom Chef-->
		</div><!--END OF 2nd column, DEVOPS-->			



		</div><!--END of ROW FOR DevOps Tools skills-->
	<hr>

	


{% endblock %}
